[submodule "obsidiantools-demo"]
	path = obsidiantools-demo
	url = https://github.com/mfarragher/obsidiantools-demo
[submodule "vaultes/DigitalGarden"]
	path = vaultes/DigitalGarden
	url = https://github.com/raphaelluethy/Digital-Garden
[submodule "vaultes/brain"]
	path = vaultes/brain
	url = https://github.com/hannesdelbeke/brain.git
[submodule "vaultes/Digital-Garden"]
	path = vaultes/Digital-Garden
	url = https://github.com/raphaelluethy/Digital-Garden
[submodule "vaultes/vault"]
	path = vaultes/vault
	url = https://github.com/hashicorp/vault.git
[submodule "vaultes/obsidian-hub"]
	path = vaultes/obsidian-hub
	url = https://github.com/obsidian-community/obsidian-hub
